.navbar{
    display: flex;
    /* flex-direction: column; */
    background-color: white;
    /* border-bottom: 1.5px solid #dfdfdf; */
    box-shadow: 0 0 4px 2.5px #ededed;
    justify-content: space-between;
    align-items: center;
}

.domain_name{
    box-shadow: none;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin: 1.25rem 2.25rem;
}
.domain_icon{
    display: none;
    padding: .95rem .5rem .75rem .5rem;
    margin-left: 1rem;
}
.icon_container{
    width: 40px;
    height: 40px;
}
.navlinks_desktop{
    display: flex;
    gap: 1.4rem;
    align-items: center;
    margin-right: 2.5rem;
}
.navlinks_mobile{
    display: none;  
    /* align-items: center; */
    margin-right: 1.5rem;
}

.logOut, .loginButton, .signUpButton{
    font-family: 'open sans';
    font-size: 15px;
    letter-spacing: .75px;
    padding: .5rem 2.5rem; 
    border-radius: 1px;
    transition: 100ms ease-in;
}
.loginButton{
    outline: 1px solid hsl(201, 100%, 96%);
    color: #2a67b1;
    background-color: white;
}
.loginButton:hover{ 
    background-color:hsl(201, 100%, 96%);
    box-shadow: 0px 3px 4px .1px rgb(181, 181, 181);
}
.cover{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1.75rem;
}
.logOut{
    height: 40px;
    outline: 1px solid rgb(185, 28, 28);
    color: rgb(175, 23, 23);
    background-color: white;
}
.logOut:hover{ 
    color: white;
    background-color: #b91c1c;
    box-shadow: 0px 4px 4px .1px #ac7e7e;
}
.signUpButton{
    position: relative;
    color: #2a67b1;
    outline: 1px solid #2a67b1;
    background-color: white;
}
.signUpButton:hover{
    color: white;
    background-color: #2a67b1;
    box-shadow: 0px 4px 4px .1px #7f98b7;
}

.signUpButton::before{
    content: '';
    position: absolute;
    top: 56%; left: -150%;
    width: 2.4rem;
    height: .1px;
    transform: rotate(90deg);
    background-color: rgba(0, 0, 0, .25);
}


@media (max-width: 900px) {
    .domain_name{
        margin: 1rem 2.25rem;
        font-size: 24px;
    }
}
@media (max-width: 600px) {
    .domain_name{display: none;}
    .domain_icon{display: inline-block;}   
    .cover{
        margin-right: .75rem;
    }
    .logOut, .loginButton, .signUpButton{
        padding: .5rem 2rem; 
    }
    .navlinks_desktop{margin-right: 1.75rem;}
}
@media (max-width: 480px) {
    .navlinks_desktop{ display: none;}
    .navlinks_mobile{ display: inline;} 
    .icon_container{
        width: 37px;
        height: 37px;
    }
    .domain_icon{
        padding: .75rem;
        margin: .25rem;
        margin-left: .5rem;
    }
    .signUpButton{ 
        font-size: 13px;
        padding: .5rem 1.25rem;
    }
    .cover{
        gap: 1.25rem;
    }
    .logOut{ 
        font-size: 13px;
        padding: 0rem 1.5rem;
        height: 35px;
    }

    .signUpButton::before{
        left: -50%;
        top: 50%;
    }   
}
@media (max-width: 360px) {
    .domain_icon{
        padding: .65rem;
    }
    .signUpButton{ 
        font-size: 12px;
        padding: .5rem 1.125rem;
    }
    .logOut{ 
        font-size: 12px;
    }
    .signUpButton::before{
        display: none;
    } 
    .navlinks_mobile{
        margin-right: 1rem;
    }
    .icon_container{
        width: 32px;
        height: 32px;
    }
}

