
.pcontainer{
    border-radius: 4px;
    overflow: hidden;
}
.img_container{
    position: relative;
    height: 200px;
}
.bg_img{
    height: 150px;
    overflow: hidden;
}
.user_img{
    position: absolute;
    left: 50%; top: 80px;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
.username{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;

}
.desc_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: .325rem;
    font-size: 14px;
    gap: .75rem;
    /* max-width: 720px; */
    margin: 0 auto;
    padding: 0 40px;
}
.desc_container > div:first-of-type{
    border: 2px solid rgb(211, 211, 211);
    padding: 1rem;
    border-radius: 8px;
}
.edit{
    stroke: rgb(75, 75, 75);
    position: relative;
}

.edit:hover{
    cursor: pointer;
    stroke: blue;
}
