.mainNav{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0 0.7rem 2.25rem;
    letter-spacing: .75px;
    gap: .5rem;
}
.mainNav > *{
    cursor: pointer;
    padding: .4rem 1.25rem .55rem 1.25rem;
    border-radius: 2px;
    transition: 250ms;
}
.mainNav > *:hover{
    background-color: hsl(221, 20%, 95%);
}

.homeIcon{ display: none;}
.homeLink{
    position: relative;
}   
.active{
    border-bottom: 3px solid #5a86dc;
}

@media (max-width: 1200px){
    .mainNav{
        justify-content: flex-start;
    }
}
@media (max-width: 920px){
    .mainNav{
        margin-left: 1.75rem;
        gap: .25rem;
    }
}

@media (max-width: 600px){
    .mainNav{font-size: 14px; gap:.5rem;}
    .mainNav > *{
        padding: .4rem .9rem .55rem .9rem; 
    }
}
@media (max-width: 480px){
    .mainNav{
        font-size: 13px;
        margin: .5rem 1rem;
        letter-spacing: .5px;
        gap: .3rem;
    }
    .mainNav > *{
        padding: .5rem .8rem;
    }
    .cover:nth-of-type(1){
        margin-top: 3px;
        padding: .3rem .5rem;
    }
  
    .cover a, .cover div    {
        padding-bottom: .5px;
    }
    .homeIcon{
        display: inline;
        position: relative; 
        font-size: 0; margin-top: 40px;
    }
    .homeLink{display: none;}
}
/* @media (max-width: 390px){
    .cover:nth-last-child(1){
        display: none;
    }
} */
@media (max-width: 360px){
    .mainNav{
        /* font-size: 12.5px; */
        margin: .65rem;

    }
    .mainNav > *{
        padding: .4rem .7rem;
    }
}