@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Raleway&family=Roboto+Slab&display=swap');

.full_width{
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #f2f3f7;
}
.container{
    padding: 3rem 2rem;
    padding-bottom: 0;
    letter-spacing: 1px;
    width: 100%;
    max-width: 1200px;
}

.heading{
    position: relative;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .75px;
    margin-bottom: 1rem;
    transition: 1s;
}
.heading::after{
    content: '';
    bottom: -15%; left: -1%;
    position: absolute;
    width: 2rem;
    height: 2px;
    background-color: black;
    transition: 800ms;
}
.heading:hover::after{
    width: 24rem;
}
.card_div{
    max-width: 87vw;
    height: 400px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 .5rem ;
    margin: 2rem 0 3rem 0rem;
    gap: 6rem;
    overflow-x: scroll;
}
.card_div > div:nth-of-type(1){
    margin-left: 8px;
}
.card_div > div:nth-last-of-type(1){
    margin-right: 10px;
}
.card{
    width: 280px;
    padding: .5rem;
    background-color: #f6f7fa;
    border-radius: 1rem;;
    transition: .5s;
}

.card{
    box-shadow: -4px -4px 10px .1px white,
                 6px 6px 8px .8px #ced4db;
}
.card:hover{
    box-shadow: -6px -6px 10px 1px white,
                 8px 8px 8px 1.2px hsl(212, 15%, 72%);
    transform: scale(1.02);
}

.img_container{
    padding: 2.25rem;
    padding-bottom: .1rem;
    
}
.img{
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px #a9cbf5,
                0 0 0 2px #8cb9f0,
                0 0 0 3px #6999d3;
}
.content, .links{
    text-align: center;
    line-height: 1.7;
}
.links{
    margin-bottom: 1rem;
}
.name{
    margin-top: .75rem;
    font-size:  18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
.pos{
    color: #666;
    font-weight: 500;
}


@media (max-width: 1200px){
    .container{padding: 3.5rem 3.5rem 0 3.5rem;}
}
@media (max-width: 1024px){
    .card_div > div:nth-of-type(n){
        transform: scale(.96);
    } 
}
@media (max-width: 700px){
    .heading{font-size: 24px;}
    .heading:hover::after{
        width: 21rem;
    }
}
@media (max-width: 400px){
    .container{padding: 3rem 2rem 0 2rem;}
    .card_div{gap: .75rem; margin: 1rem 0 2.5rem 0; width: 80vw;}
    .card_div > div:nth-of-type(n){
        transform: scale(.94);
        padding: 0;
        margin: 0;
    }
    .heading:hover::after{
        width: 2rem;
    }
}

.external_links{
    padding: .5rem;
    padding-top: 2px;
    display: flex;
    gap: .6rem;
    justify-content: center;
}
.external_links a{
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    transition: 150ms;
    
}
.external_links svg{
    transform: scale(1.1);
}
.external_links svg:hover{
    stroke: cornflowerblue;
}

.external_links > a:hover{
    transform: scale(1);
}