.about_container{
    width: 100vw;
    box-shadow: 0 -2px 4px 1px #eaeaea;
}
.about{
    max-width: 1200px;
    
}

.about{
    font-family: 'montserrat';
    padding: 2rem;
    line-height: 1.5;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
}
.about > *:not(h2){
    width: 80%;
    margin-left: 2rem;
    margin-bottom: 1.875rem;
    padding: 1rem 1.125rem;
    border-radius: 8px;
    box-shadow: -32px 1px 18px -9px rgb(122, 174, 253); 
    /* list-style-type: disc; */
}
.about .about_second{
    margin-left: 5rem;
}
.title{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 28px;
    letter-spacing: .75px;
    margin-bottom: 2.5rem;
}
.title span{
    font-weight: bold;
    border-bottom: 3px solid black;
}
.about {
    font-size: clamp(16px, 18px, 20px);
}
.about_third{
    display: flex;
    align-items: center;
}
.list{
    margin-top: -5px;
    margin-left: 5px;
    height: 27px;
    overflow: hidden;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
}
.first{
    animation: anima 6s cubic-bezier(0 ,.25, .3, 1) infinite ;
}
@keyframes anima {
    0%{margin-top: 0px;}
    25%{margin-top: -30.5px;}
    50%{margin-top: -60.5px;}
    75%{margin-top: -90.5px;}
}

@media (max-width: 900px) {
    .about > *{
        font-size: 16px;
    }
    .title{
        font-size: 24px;
    }
    
}
@media (max-width: 520px) {
    /* .mobile{display: inline-block;} */
    .list{margin-left: -1px;}
    .about .about_second{
        margin-left: 2rem;
    }
    .about_third{
        display: inline-block;
    }
    
}
@media (max-width: 450px) {
    .about > *:not(h2){
        width: 100%;
        margin-left: 1rem;
        box-shadow: -24px 1px 18px -9px rgb(122, 174, 253); 
        /* list-style-type: disc; */
    }
    .about{
        padding: 2rem;
    }
    .title{
        font-size: 24px;
    }

    .about > p{
        font-size: 14px;
        /* width: 70vw;; */
    }
    .about_third, .list{
        font-size: 14px;;
    }
    .about_third{
        margin-left: -2px;
    }
    .list{
        margin-top: -3px;
        margin-left: 2.5px;
        height: 15px;
        overflow: hidden;
        font-weight: bold;
        display: inline-block;
        /* font-size: 20px; */
    }
    .list > *:nth-of-type(1){
        margin-top: -3px;
    }
    @keyframes anima {
        0%{margin-top: -1px;}
        25%{margin-top: -22.5px;}
        50%{margin-top: -43px;}
        75%{margin-top: -65px;}
    }
}