@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Raleway&family=Roboto+Slab&display=swap');

.container{
    width: 100vw;
    box-shadow: 0 -2px 4px 1px #eaeaea;
    /* box-shadow: 0 -2px 4px 1px #eaeaea; */
}
.inner_container{
    margin: 0 auto;
    /* margin-bottom: 1.5rem; */
    max-width: 1200px;
    line-height: 1.5;
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
}
.clubitems{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem;
}
.heading{
    cursor: context-menu;
    position: relative;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}
.heading::after{
    content: '';
    bottom: -11%; left: -1%;
    position: absolute;
    width: 2rem;
    height: 2px;
    background-color: black;
    transition: 800ms;
}
.heading:hover::after{
    width: 9rem;
}

@media (max-width: 800px) {

    .heading{
        margin-bottom: 2rem;
    }
    .clubitems{
        padding: 0;
    }
    .heading{
        margin-left: .5rem;
    }
}